<% if signed_in? %>
	<div class="row">
		<aside class="span2">
			<section>
				<%= render 'shared/user_info' %>
			</section>
		</aside>
		<div class="span10">
			<h1>My Projects</h1>
			<%= render 'shared/user_projects' %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
 		<h1>Welcome to Project 1</h1>

 		<h2>
    		A time logging tool by Daniel Chang
  		</h2>

  		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>