<%= form_for(current_user.rel_projects.build(project_id: @project.id)) do |f| %>
	<div><%= f.hidden_field :project_id %></div>
	<%= f.submit "Join Project", class: "btn btn-large btn-primary" %>
<% end %>