<footer class="footer">
  <small>
    <a href="http://www.google.com/">Project 1</a>
    by Daniel Chang
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>